##-----------------------
# Specify Files to be ignored by git
##-----------------------

#OSX/UNIX/LINUX Matlab Autosaves
**.m~

#Windows Matlab Autosaves
**.asv

#Cluster Directory. Note ignoring the whole thing saves lots of clutter.
# Occasionally there may be files in it worth holding on to.
# In this case they should be moved into the main directory.
Cluster/
